<input id=<%='filter_'+custom_field.id.to_s%> class='enable_filter' type='checkbox' checked /> 
<span class='filter_name'><%=custom_field.name%></span> 
<select name=<%="custom_field["+params[:custom_field_id].to_s+"][]"%> class=<%="filter_"+custom_field.id.to_s%> size=<%=size%> multiple><%=options.html_safe%></select>