<div class="splitcontentleft">
	<fieldset>
		<legend><%=l(:"cpm.title_black_lists")%></legend>
		<p>
	    <label><%=l(:"cpm.label_ignored_users")%></label>
	    <%= select_tag 'settings[ignored_users]',
	        options_from_collection_for_select(User.all.sort_by{|u| u.login}, :id, :login, (@settings['ignored_users'] || [])),
	        :multiple => true,
	        :size => 10 %>
		</p>
		<p>
	    <label><%=l(:"cpm.label_ignored_groups")%></label>
	    <%= select_tag 'settings[ignored_groups]',
	        options_from_collection_for_select(Group.all.sort_by{|g| g.name}, :id, :name, (@settings['ignored_groups'] || [])),
	        :multiple => true,
	        :size => 10 %>
		</p>
		<p>
	    <label><%=l(:"cpm.label_ignored_projects")%></label>
	    <%= select_tag 'settings[ignored_projects]',
	        options_from_collection_for_select(Project.all.sort_by{|p| p.name}, :id, :name, (@settings['ignored_projects'] || [])),
	        :multiple => true,
	        :size => 10 %>
		</p>
	</fielset>
</div>
<div class="splitcontentright">
	<fieldset>
		<legend><%=l(:"cpm.title_search_filters")%></legend>
		<p>
	    <label><%=l(:"cpm.label_project_filters")%></label>
	    <%= select_tag 'settings[project_filters]',
	        options_from_collection_for_select(ProjectCustomField.where("field_format = 'list'").sort_by{|cf| cf.name}, :id, :name, (@settings['project_filters'] || [])),
	        :multiple => true,
	        :size => 10 %>
		</p>
	</fielset>
</div>
<div style="clear: both;"></div>