<h3><%=l(:"cpm.title_search_filters")%></h3>
<div class="splitcontentleft">
	<%= form_tag({:action => 'show'}, {id: "find_capacities", method: 'GET'}) do %>
		<div id="active_filters">
			<% @active_filters.each do |active_filter| %>
				<%= render :partial => 'cpm_management/filters/'+active_filter %>
			<% end %>
			<% @active_custom_field_filters.each do |active_custom_field_filter| %>
				<%= render :partial => 'cpm_management/filters/custom_field_list', :locals => {:custom_field_id => active_custom_field_filter} %>
			<% end %>
		</div>
		<div id='submit_filters'>
			<%= submit_tag l(:"cpm.button_find") %>
		</div>
	<% end %>
</div>
<div class="splitcontentright">
	<%=l(:"label_filter_add") %>
	<%= select_tag(:select_filter, options_for_select(@filters, disabled: @active_filters+@active_custom_field_filters)) %>
</div>
<div style="clear: both;"></div>
<input id="hide_empty_users" type="checkbox" /><%=l(:"cpm.label_hide_empty_users") %>
<input id="bar_view" type="checkbox" /><%=l(:"cpm.label_bar_view") %>
<input id="sort_by_capacity" type="checkbox" /><%=l(:"cpm.label_sort_by_capacity") %>
