<%= form_for @cpm_user_capacity, url: {controller: "cpm_user_capacity", action: "new_by_assignment"} do |f| %>
	<div class="splitcontentleft">
		<div class="userdiv">
			<div><%= f.label :user_id, l(:"cpm.label_user") %></div>
			<div><%= f.select(:user_id, options_for_select(@users_for_selection)) %></div>
		</div>
		<div class="projectdiv">
			<div><%= f.label :project_id, l(:"cpm.label_project") %></div>
			<div><%= f.select(:project_id, options_for_select(@projects_for_selection)) %></div>
		</div>
		<div class="capacitydiv">
			<div><%= f.label :capacity, l(:"cpm.label_capacity") %></div>
			<div><%= f.text_field :capacity %></div>
		</div>
	</div>
	<div class="splitcontentright">
		<div class="startdatediv">
			<div><%= f.label :from_date, l(:"cpm.label_start_date") %></div>
			<div><%= f.text_field :from_date %></div>
			<div><%= calendar_for('cpm_user_capacity_from_date') %></div>
		</div>
		<div class="duedatediv">
			<div><%= f.label :to_date, l(:"cpm.label_due_date") %></div>
			<div><%= f.text_field :to_date %></div>
			<div><%= calendar_for('cpm_user_capacity_to_date') %></div>
		</div>
		<div class="assigndiv">
			<%= f.submit l(:"cpm.button_assign") %>
		</div>
	</div>
<% end %>
<div style="clear: both;"></div>
