<h3><%=l(:"cpm.title_results")%></h3>

<% if @users.present? %>
<div id="content_capacity_results">
	<table id="capacity_results" class="list issues" >
		<thead>
			<tr>
				<th><%=l(:"cpm.label_user")%></th>
				<% if Setting.plugin_redmine_cpm['plugin_knowledge_manager'].present? %>
					<th class="knowledge"><%=l(:"cpm.label_knowledges")%></th>
				<% end %>
				<% @time_unit_num.times do |i| %>
					<th class="<%= @time_unit %> <%= 'weekend' if is_friday(@time_unit,i) %>"><%= get_column_name(@time_unit,i) %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
		<% row=0 %>
		<% @users.each do |user| %>
			<tr class=<%=even_odd(row)%> >
				<td class="username_field" title="<%=user.show_tooltip_info%>">
					<%= link_to user.login, controller: 'users', action: 'edit', id: user.id %>
				</td>
				<% if Setting.plugin_redmine_cpm['plugin_knowledge_manager'].present? %>
					<td class="knowledge" title="<%=user.show_tooltip_knowledges%>"><%= user.main_knowledges.collect{|k| k.name}.join(', ').truncate(45) %></td>
				<% end %>
				<% @time_unit_num.times do |i| %>
					<% 
					capacity = @capacities[user.id][i]['value'].to_i
					tooltip = @capacities[user.id][i]['tooltip']
					%>
					<td onclick="edit_capacities('<%=user.id%>','<%=get_from_date(@time_unit,i)%>','<%=get_to_date(@time_unit,i)%>',<%=@projects_params.to_json%>);" class="edit_user_capacities <%='alert' if capacity > 100 %> <%=@time_unit%> <%= 'weekend' if is_friday(@time_unit,i) %>" title="<%=tooltip%>" value=<%=capacity%>>
						<%= capacity %>
					</td>
				<% end %>
			</tr>
			<% row+=1 %>
		<% end %>
		</tbody>
	</table>
</div>
<% end %>

<div id="dialog">
</div>