<div id="capacity_modal_content">
	<%= render_flash_messages %>

	<% @capacities.each do |c| %>
		<%= render :partial => 'edit', locals: {capacity: c} %>
	<% end %>

	<div id="new_assignment" class="assignment_form">
	<h3>Nueva asignación</h3>
	<%= form_for @cpm_user_capacity, remote: true, url: {controller: "cpm_user_capacity", action: "new", start_date: params[:from_date], due_date: params[:to_date], projects:params[:projects], ignore_black_lists:params[:ignore_black_lists]} do |f| %>
		<%= f.hidden_field :user_id %>
		<div>
			<span>
				<%= f.label :project_id, l(:"cpm.label_project") %>
				<%= f.select(:project_id, options_for_select(@projects_for_selection,@default_project),{},{:style => "width:150px;"}) %>
			</span>
			<span>
				<%= f.label :capacity, l(:"cpm.label_capacity") %>
				<%= f.text_field :capacity, :size => 2 %>%
			</span>
			<span>
				<%= f.label :from_date, l(:"cpm.label_start_date") %>
				<%= f.text_field :from_date, :size => 10, :value => @from_date %>
				<%= calendar_for('cpm_user_capacity_from_date') %>
			</span>
			<span>
				<%= f.label :to_date, l(:"cpm.label_due_date") %>
				<%= f.text_field :to_date, :size => 10, :value => @to_date  %>
				<%= calendar_for('cpm_user_capacity_to_date') %>
			</span>
				<%= f.submit l(:"cpm.button_assign") %>
		</div>
	<% end %>
	</div>
</div>