<% content_for :header_tags do %>
  <%= javascript_include_tag "cpm_show.js", :plugin => 'redmine_cpm' %>
  <%= stylesheet_link_tag "cpm_show.css", :plugin => 'redmine_cpm' %>
<% end %>

<% include_calendar_headers_tags %>

<h2><%=l(:"cpm.title_capacity_managment")%></h2>
<%= render :partial => 'filters' %>

<div id="capacity_modal">
	<%= render :partial => 'planning' %>
</div>