<% content_for :header_tags do %>
  <%= javascript_include_tag "cpm_reports.js", :plugin => 'redmine_cpm' %>
<% end %>

<h2><%=l(:"cpm.title_capacity_reports")%></h2>
<%= form_tag("/cpm_reports/reports", method: :get) do |f| %>
	<div>
		<%= label_tag 'report_type', l(:"cpm.label_report_type") %>
		<% if @report.present? %>
			<%= select_tag 'report_type', options_for_select(@report_types, @report[:name]) %>
		<% else %>
			<%= select_tag 'report_type', options_for_select(@report_types) %>
		<% end %>
	</div>
	<br>
	<div id="report_options_div">
		<% if @report.present? %>
			<%= render :partial => @report[:partial_options] %>
		<% end %>
	</div>
	<div>
		<%= submit_tag l(:"button_submit") %>
	</div>
<% end %>

<div id="capacity_report">
	<% if @report.present? %>
		<%= render :partial => @report[:partial_result] %>
	<% end %>
</div>

<% if @report.present? %>
	<% other_formats_links do |f| %>
		<%= f.link_to 'ODS', :url => params %>
	  <%#= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
	  <%#= f.link_to 'PDF' %>
	<% end %>
<% end %>