
<% @result.each do |jp| %>
<br>
	<h2><%= jp[:name] %></h2>

	<% if jp[:projects].present? %>
		<% jp[:projects].each do |p| %>
			<table class="list issues">
				<thead>
					<tr bgcolor="#FF5757">
						<th colspan="4"><%= p[:name]+" "+p[:end].to_s %></th>
					</tr>
					<tr bgcolor="#FF9597">
						<th style="width:25%;"><%=l(:"label_user")%></th>
						<th style="width:25%;"><%=l(:"cpm.label_capacity")%></th>
						<th style="width:25%;"><%=l(:"cpm.label_start_date")%></th>
						<th style="width:25%;"><%=l(:"cpm.label_due_date")%></th>
					</tr>
				</thead>
				<tbody>
					<% p[:members].each do |m| %>
						<tr border="1">
							<td rowspan="<%= [m[:capacities].length, 1].max %>"><%= m[:name] %></td>
							<% m[:capacities].each_with_index do |c,i| %>
								<% if i>0 %>
									<tr>
								<% end %>
								<td><%= c[:capacity] %></td>
								<td><%= c[:from_date] %></td>
								<td><%= c[:to_date] %></td>	
								<% if i>0 %>
									</tr>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	<% else %>
		<h3 style="text-align:center;"><%=l(:"cpm.label_no_user_data")%></h3>
	<% end %>
<% end %>