
<% @result.each do |u| %>
<br>
	<h2><%= u[:name] %></h2>
	
	<% if u[:project_managers].present? %>
		<% u[:project_managers].each do |pm_names, pm| %>
			<table class="list issues">
				<thead>
					<tr bgcolor="#999999">
						<th colspan="4"><%= pm_names %></th>
					</tr>
					<tr bgcolor="#EEEEEE">
						<th style="width:25%;"><%=l(:"label_project")%></th>
						<th style="width:25%;"><%=l(:"cpm.label_capacity")%></th>
						<th style="width:25%;"><%=l(:"cpm.label_start_date")%></th>
						<th style="width:25%;"><%=l(:"cpm.label_due_date")%></th>
					</tr>
				</thead>
				<tbody>
						
					<% pm.each do |p| %>
						<tr border="1">
							<td rowspan="<%= [p[:capacities].length, 1].max %>"><%= p[:name]+" "+p[:end].to_s %></td>
							<% p[:capacities].each_with_index do |c, i| %>
								<% if i>0 %>
									<tr>
								<% end %>
								<td><%= c[:capacity] %></td>
								<td><%= c[:from_date] %></td>
								<td><%= c[:to_date] %></td>	
								<% if i>0 %>
									</tr>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	<% else %>
		<h3 style="text-align:center;"><%=l(:"cpm.label_no_user_data")%></h3>
	<% end %>
<% end %>